.base {
  /* base */
}

/* Size */
.size-h1 {
  font-size: 4.8rem;
}

.size-h2 {
  font-size: 3.6rem;
}

.size-h3 {
  font-size: 2.8rem;
}

.size-h4 {
  font-size: 2.4rem;
}

.size-subtitle1 {
  font-size: 2.4rem;
}

.size-subtitle2 {
  font-size: 1.8rem;
}

.size-body1 {
  font-size: 1.8rem;
}

.size-body2 {
  font-size: 1.4rem;
}

.size-small {
  font-size: 1.2rem;
}

.size-button {
  font-size: 1.4rem;
}

.size-inheret {
  font-size: inherit;
}

/* Weight */
.weight-light {
  font-weight: 200; /* 300? */
}

.weight-normal {
  @apply font-normal;
}

.weight-bold {
  @apply font-bold;
}

.weight-inheret {
  font-weight: inherit;
}
